<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse  navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ><a href="#">KAN<span>DOES</span></a></li>
                <li><a [routerLink]="['/Organisations']">ORGANISATIONS</a></li>
                <li class="active" ><a [routerLink]="['/Themes']">THEMES</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <img class="img-responsivenav img-thumbnailnav" id="profile-picturenav"
                         [src]="getImageSrc(user.profilePicture)">
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{user.person.firstname}}<span class="caret"></span>
                    </a>
                    <ul class=" dropdown-menu pull-right">
                        <li><a [routerLink]="['/Userprofile']">Edit profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="glyphicon glyphicon-log-out" (click)="logout()"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="container page-header">
        <h3><span class="glyphicon glyphicon-plus-sign"></span> Add Subtheme</h3>
    </div>
</header>

<div class="container">
    <form  class="form-card col-md-8 col-sm-10 col-lg-6 col-lg-offset-3" method="post" role="form">
        <div class="form-group">
            <label>Name</label>
            <input type="text" placeholder="Enter subtheme name" class="form-control" [(ngModel)]="theme.themeName">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" placeholder="Enter Description" class="form-control" [(ngModel)]="theme.description">
        </div>
        <div class="form-group">
            <label>Logo</label>
            <input type="file" multiple="false" (change)="onFileChange($event)">
        </div>
        <div class="form-group">
            <label>Organisation</label>
            <select class="form-control" (change)="selectOrganisation($event)">
                <option class="form-control" *ngFor="#organisation of currentOrganisations" value="{{organisation.organisationName}}">{{organisation.organisationName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Theme</label>
            <select class="form-control" (change)="selectTheme($event)">
                <option class="form-control" *ngFor="#theme of currentthemess" value="{{theme.themeName}}">{{theme.themeName}}</option>
            </select>
        </div>
        <hr>
        <button type="button" class="btn btn-wide btn-info" (click)="onSubmit()">Add new theme</button>

    </form>
</div>