<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="dropdown-toggle"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">
                KAN<span>DOE</span></a>
        </div>
        <ul class="nav navbar-nav navwidth">
            <li><a [routerLink]="['/LoggedInHome']" >     KANDOES     </a></li>
            <li class="active"> <a href="#" >      ORGANISATIONS     </a> </li>
            <li> <a [routerLink]="['/Themes']" >     THEMES     </a> </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><img class="img-responsivenav img-thumbnailnav" id="profile-picturenav"   [src]="getImageSrc(user.profilePicture)">
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.person.firstname}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li> <a class="glyphicon" [routerLink]="['/Userprofile']">Edit profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li> <a class="glyphicon glyphicon-log-out"  (click)="logout()"> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<header>
    <div class="container clearfix">
        <h3>{{organisation.organisationName}}</h3>
    </div>
</header>
<div class="container main">

    <div class="center-container col-lg-offset-2 col-lg-8"style="float: left;">


                    <ol class="breadcrumb" >
            <li><a [routerLink]="['/LoggedInHome']"> Kandoes</a></li>
            <li><a [routerLink]="['/Organisations']"> Organisations</a></li>
            <li class="active">Organisation detail</li>
        </ol>  </div>
    <div class="center-container col-lg-offset-2 col-lg-8">

    <img class="img-responsive img-thumbnail" id="org-logo" [src]="getImageSrc(organisation.logoUrl)">
    </div>
    <div class="row">
        <div class="center-container col-lg-offset-2 col-lg-8">
            <h3>{{organisation.address}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <h4 class="title">Organisers</h4>
                </div>
                <ul class="panel-body list-group org-list">
                    <div *ngFor="#organiser of organisers">
                        <li class="list-group-item">
                            <div class="col-xs-12 col-sm-3">
                                <img [src]="getImageSrc(organiser.profilePicture)" class="img-responsive img-circle" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="username">{{ organiser.username }}</span><br/>
                                <span class="name">{{organiser.person.firstname}} {{organiser.person.lastname}}</span><br/>
                                <span class="email">{{organiser.email}}</span> <br/>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <h4 class="title">Members</h4>
                    <div class="pull-right c-controls" *ngIf="organisation.organiser">
                        <a class="hide-add" id="add-button" (click)="showAddUser()"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
                <div class="row" style="display: none">
                    <div class="col-xs-12">
                        <div class="input-group add-user">
                            <input type="text" class="form-control" [(ngModel)]="newMember">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="addMember()"><i class="glyphicon glyphicon-plus-sign"></i> Add user</button>
                                </span>
                        </div>
                    </div>
                </div>
                <ul class="panel-body list-group member-list">
                    <div *ngFor="#member of members">
                        <li class="list-group-item">
                            <div class="col-xs-12 col-sm-3">
                                <img [src]="getImageSrc(member.profilePicture)" alt="profile picture" class="img-responsive img-circle" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="username">{{ member.username }}</span><br/>
                                <span class="name">{{member.person.firstname}} {{member.person.lastname}}</span><br/>
                                <span class="email">{{member.email}}</span><br/>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>