<!--navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse  navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">KAN<span>DOES</span></a></li>
                <li class="active"><a [routerLink]="['/Organisations']">ORGANISATIONS</a></li>
                <li><a [routerLink]="['/Themes']">THEMES</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <img class="img-responsivenav img-thumbnailnav" id="profile-picturenav"
                         [src]="getImageSrc(user.profilePicture)">
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{user.person.firstname}}<span class="caret"></span>
                    </a>
                    <ul class=" dropdown-menu pull-right">
                        <li><a [routerLink]="['/Userprofile']">Edit profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="glyphicon glyphicon-log-out" (click)="logout()"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="page-header-img-preview">
        <div class="container page-header">
            <img class="img-responsive img-circle" id="org-logo" [src]="getImageSrc(organisation.logoUrl)">
            <h3>{{organisation.organisationName}}</h3>
        </div>
    </div>
</header>
<div class="container main">
    <!--breadcrumbs -->
    <div class="center-container col-lg-offset-2 col-lg-8">
        <ol class="breadcrumb floatleftclass">
            <li><a [routerLink]="['/LoggedInHome']"> Kandoes</a></li>
            <li><a [routerLink]="['/Organisations']"> Organisations</a></li>
            <li class="active">Organisation detail</li>
        </ol>
    </div>

    <!-- organisation header -->
    <div class="row">
        <div class="center-container col-lg-offset-2 col-lg-8">
            <h4 class="title">{{organisation.address}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="title">Themes</h4>
                </div>
                <ul class="panel-body list-unstyled theme-card-list">
                    <li class="col-sm-12 col-md-4">
                        <div class="themeCard-container manual-flip">
                            <div class="themeCard">
                                <div class="front new-card">
                                    <div class="cover"></div>
                                    <div class="themeContent">
                                        <div class="mainContent">
                                            <div class=" card-btn-container center-container">
                                                <button [routerLink]="['/AddTheme']"
                                                        class="btn btn-primary btn-add-theme">
                                                    Create a new Theme
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="header"></div>
                                    <div class="themeContent nopaddingleft"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li *ngFor="#theme of themes; #i = index" class="col-sm-12 col-md-4">
                        <!-- THEMECARD -->
                        <div class="themeCard-container manual-flip">
                            <div class="themeCard">
                                <div class="front">
                                    <div class="cover">
                                        <a [routerLink]="['/ThemeDetail', {id:theme.themeId}]">
                                            <img [src]="getImageSrc(theme.iconURL)"/>
                                        </a>
                                    </div>
                                    <div class="themeContent">
                                        <div class="mainContent center-container">
                                            <a [routerLink]="['/ThemeDetail', {id:theme.themeId}]">
                                                <h3 class="name">{{theme.themeName}}</h3>
                                                <p class="description">{{theme.description}} </p>
                                            </a>
                                            <br>
                                            <br>
                                            <br>
                                            <a [routerLink]="['/OrganisationDetail', {id:theme.organisation.organisationId}]">
                                                <h3 class="name">Organisation</h3>
                                                <p class="description">{{theme.organisation.organisationName}}</p>
                                            </a>
                                        </div>
                                        <div class="theme-card-footer">
                                            <button class="btn btn-simple" (click)="rotateCard($event)">
                                                <i class="fa fa-mail-forward"></i> More Information
                                            </button>
                                        </div>
                                    </div>
                                </div> <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <a [routerLink]="['/ThemeDetail', {id:theme.themeId}]"><h5 class="motto">
                                            {{theme.themeName}}</h5></a>
                                    </div>
                                    <div class="themeContent nopaddingleft">
                                        <div class="mainContent center-container">
                                            <!--SHOW CARDS-->
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="btn-group btn-group-inTheme">
                                                            <button class="btn btn-default btn-collapse"
                                                                    data-parent="#accordion" href="#card-open"
                                                                    data-toggle="collapse">
                                                                <span class="caret"></span> Show Cards </button>
                                                            <a class="btn btn-primary-small btn-add-inTheme"
                                                               data-toggle="modal" data-target="#add-card"
                                                               (click)="onAddCard(theme.themeId)" type="button">+</a>
                                                        </div>
                                                    </div>
                                                    <div id="card-open" class="panel-collapse collapse in">
                                                        <ul class="padding-left-5">
                                                            <div *ngFor="#card of theme.cards"
                                                                 class="single-card pre open-fixed-height">
                                                                <li class="fontsize-card">
                                                                    <img class="card-img-theme" alt="no image found"
                                                                         [src]="getImageSrc(card.imageURL)">
                                                                    {{card.description}}
                                                                </li>
                                                            </div>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!--SHOW SUBTHEMES-->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="btn-group btn-group-inTheme">
                                                            <button class="btn btn-default btn-collapse"
                                                                    data-parent="#accordion" href="#subTheme-open"
                                                                    data-toggle="collapse">
                                                                <span class="caret"></span> Show Subthemes </button>
                                                            <a class="btn btn-primary-small btn-add-inTheme"
                                                               data-toggle="modal" data-target="#add-subTheme" type="button"
                                                               (click)="onAddSubTheme(theme.themeId)">+</a>
                                                        </div>
                                                    </div>
                                                    <div id="subTheme-open" class="panel-collapse collapse">
                                                        <ul class="padding-left-5">
                                                            <div *ngFor="#subTheme of theme.subThemes"
                                                                 class="single-card pre open-fixed-height">
                                                                <a class="hover-subTheme"
                                                                   [routerLink]="['/SubThemesDetail', {id:subTheme.subThemeId}]">
                                                                    <li class="fontsize-card">
                                                                        <img class="card-img-theme" alt="no image found"
                                                                             [src]="getImageSrc(subTheme.iconURL)">
                                                                        {{subTheme.description}}
                                                                    </li>
                                                                </a>
                                                            </div>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--card footer -->
                                    <div class="theme-card-footer">
                                        <button class="btn btn-simple" (click)="rotateCard($event)"
                                                data-original-title="Flip Card">
                                            <i class="fa fa-reply"></i> Back
                                        </button>
                                        <div class="social-links text-center">
                                            <a href="#facebook" class="facebook"><span
                                                    class="fa fa-facebook"></span></a>
                                            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                                            <a href="#google-plus" class="google-plus"><span
                                                    class="fa fa-google-plus"></span></a>
                                        </div>
                                    </div>
                                </div> <!-- end back panel -->
                            </div>
                        </div>
                        <!-- END THEMECARD -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <h4 class="title">Organisers</h4>
                    <div class="pull-right c-controls" *ngIf="organisation.organiser">
                        <a class="" id="add-button-org" (click)="showAddOrg($event)"><span
                                class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
                <div class="row" style="display: none">
                    <div class="col-xs-12">
                        <div class="input-group add-org">
                            <input type="text" class="form-control" [(ngModel)]="newOrganiser">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="addOrganiser()"> + Add user
                                    </button>
                                </span>
                        </div>
                    </div>
                </div>
                <ul class="panel-body list-group org-list">
                    <div *ngFor="#organiser of organisers">
                        <li class="list-group-item">
                            <div class="col-xs-12 col-sm-3">
                                <img [src]="getImageSrc(organiser.profilePicture)" class="img-responsive img-circle"/>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="username">{{ organiser.username }}</span><br/>
                                <span class="name">{{organiser.person.firstname}} {{organiser.person.lastname}}</span><br/>
                                <span class="email">{{organiser.email}}</span> <br/>
                            </div>

                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <h4 class="title">Members</h4>
                    <div class="pull-right c-controls" *ngIf="organisation.organiser">
                        <a class="members" id="add-button" (click)="showAddUser($event)"><span
                                class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
                <div class="row" style="display: none">
                    <div class="col-xs-12">
                        <div class="input-group add-user">
                            <input type="text" class="form-control" [(ngModel)]="newMember">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="addMember()"> + Add user
                                    </button>
                                </span>
                        </div>
                    </div>
                </div>
                <ul class="panel-body list-group member-list">
                    <div *ngFor="#member of members">
                        <li class="list-group-item">
                            <div class="col-xs-12 col-sm-3">
                                <img [src]="getImageSrc(member.profilePicture)" alt="profile picture"
                                     class="img-responsive img-circle"/>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="username">{{ member.username }}</span><br/>
                                <span class="name">{{member.person.firstname}} {{member.person.lastname}}</span><br/>
                                <span class="email">{{member.email}}</span><br/>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>