<div class="container">
    <div class="message-wrap col-lg-3 col-md-3 col-sm-6">
        <nav class="navbar-chat">
            <div class="container-fluid">
                <div class="navbar-chat-header">
                    <a class="col-lg-9">
                        <span class="icon-chat glyphicon glyphicon-comment"></span>
                        Chat - Session Name

                    </a>
                    <a class="col-lg-3 pull-right">
                        <span class="badge">4</span>
                        <span class="icon-chat glyphicon glyphicon-chevron-down"></span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="msg-wrap" id="receivedMessage">
            <div class="alert alert-info msg-date">
                <strong>Today</strong>
            </div>
            <!-- for each message in CHAT -->
            <div class="media msg" *ngFor="#message of messages">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px;"
                         [src]="getImageSrc(message.userpicture)">
                </a>
                <div class="media-body">
                    <h5 class="media-heading col-lg-7">{{message.username}}</h5>
                    <small class="pull-right time col-lg-5"><i class="fa fa-clock-o"></i> {{message.date}}</small>
                    <small class="col-lg-12">{{message.content}}</small>
                </div>
            </div>

        </div>

        <div class="send-container">
                <textarea #chatInput class="col-lg-8 send-message" rows="1" placeholder="Write your message..." id="sendchatmessage" [(ngModel)]="message"></textarea>
                <button class=" col-lg-4 btn-send" (click)="sendMessage(chatInput)">
                    Send
                </button>
        </div>
        <div class="send-container">
            <button id="connect" (click)="connect()">Connect</button>
            <button id="disconnect" disabled="disabled" (click)="disconnect()">Disconnect</button>
        </div>
    </div>
</div>