/*CSS FOR SMALL SCREEN*/
body {
    font-family: "Roboto", sans-serif;
    line-height: 1em;
    margin: 0 auto;
    background: #f1f1f1;
}

.jumbotron {
    text-align: center;
    background: #4a5362;
    color: #ffffff;
}

.jumbotron img {
    height: 0;
    width: 100px;
    margin: auto;
    padding: 0;
    visibility: collapse;
}

.jumbotron h1 {
    font-family: "Bebas", sans-serif;
    font-size: 5em;
    margin-bottom: 5px;
    padding: 0;
}

.content {
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    width: 80%;
}

.input-group-addon{
    min-width: 150px;
    text-align: left;
}

.hall-group-inputs {
    max-width: 300px;
}

.halls-map {
    background: rgba(122,122,122, 0.4) repeat;
    position: relative;
    display: block;
}

.hall-item {
    background: rgba(255,255,255,1) repeat;
    color: #002f57;
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    /*{'width': hall.breedte, 'height': hall.hoogte, 'top': hall.y, 'left': hall.x}*/
}

.hall-item:hover {
    background-color: #F1F1F1;
}

.hall-item-name {
    position: relative;
    font-weight: 600;
    text-align: left;
    font-size: 1em;
}

.map {
    position: relative;
}

.item {
    background-color: #ffffff;
    width: 100%;
    color: #002f57;
    cursor: pointer;
    padding: 5px;
    height: 100px;
}

.item:hover{
    background-color: #f1f1f1;
}

.itemUrgent {
    background-color: #ffffff;
    width: 100%;
    color: #002f57;
    cursor: pointer;
}

.item img {
    display: inline-block;
    float: left;
}

.item-name {
    position: relative;
    text-align: left;
    padding: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

.list-group-item {
    background-color: #fcfcfc;
}

.settings {
    padding: 5px;
    text-align: left;
}

.settings a{
    display: inline-block;
    font-weight: 200;
    cursor: pointer;
    font-size: 1.2em;
    margin: 5px auto;
    text-decoration: none;
    padding: 15px;

    color: white;
    background: #ffc058;
}

.settings a:hover {
    background: #ca9846;
}

.settings .active {
    background: #ca6846;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

/*extras*/
.large-screen {
   display: none;
}

.small-screen {
    display: block;
}

@media screen and (min-width: 300px) {

    .content .settings a {
        margin: 0 auto;
        display: inline-table;

    }

}

@media screen and (min-width: 1000px) {

    .jumbotron img  {
        height: 100px;
        visibility: visible;
    }


    .hall-item-name {
        position: relative;
        font-weight: 600;
        top: 40%;
        text-align: center;
        color: black;
        text-transform: uppercase;
        font-size: 1em;
    }

    .hall-item-name h3{
        font-weight: 600;
        margin-top: 0;
        font-size: 1em;
        padding: 0;

    }

    .hall-item-name p {
        font-weight: 300;
        text-align: center;
        line-height: 0;
        font-size: 0.6em;
    }

    .map {
        overflow: hidden;
        background:  url("../img/agsquare.png") repeat;
        position: relative;
        min-height: 300px;
        border: 2px solid #acacac;
    }

    .item {
        background-color: #ffffff;
        width: 100px;
        height: 100px;
        color: #ffffff;
        position: relative;
        display: inline;
        float: left;
        margin: 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    .itemUrgent {
        background-color: #ff002e;
        width: 100px;
        height: 100px;
        color: #f1f1f1;
        position: relative;
        display: inline;
        float: left;
        margin: 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    .item-name {
        position: absolute;
        text-align: center;
        margin: 0 auto;
        top: 0;
        width: 100%;
        font-weight: 500;
        background: rgba(0, 0, 0, 0.7);
        text-transform: uppercase;
        color: #ffc058;
    }

    .item img {
        display: block;
        float: none;
        margin: 0;
    }

    /*extras*/
    .large-screen {
        display: block;
    }

    .small-screen {
        display: none;
    }

}



