#circlesvg {
    min-height: 850px;
}

.img-circle {
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
}


/*
--------------------- General ------------------------------
*/

/*.well{
    width: 100%;
}

.collapse.in {
    display: inline-block;
    visibility: visible;
}  */

body {
    padding-top: 0;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    min-height: 100%;
    font-family: "Open Sans", sans-serif;
    background: repeating-linear-gradient(45deg, #F9F9F9, rgba(0, 0, 0, 0.1) 5px, rgba(0, 0, 0, 0.1) 5px);
}

h2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

h3 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 42px;
    margin: 20px;
}

a {
    color: #444;
    font-weight: 500;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover {
    color: #ff9c44;
    text-decoration: none;
}

hr {
    border: 0;
    margin: 15px auto;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.center-container {
    text-align: center;
    margin-bottom: 30px;
}

.floatleftclass {
    float: left;
}

.nopaddingleft {
    padding-left: 0;
}
.nopaddingtop {
    padding-top: 0;
}

.nopadding-nomargin {
    padding: 0 !important;
    margin: 0 !important;
}

.padding-left-5{
    padding-left: 5px;
    padding-right: 5px;
}

.marginleft{
    margin-left: 20px;
}

/*
--------------------- Buttons ------------------------------
*/

.btn {
    padding: 6px; /* 15px */
    border-radius: 6px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-add-theme{
    margin: 0 !important;
}

.btn-transparent {
    border-radius: 0;
    width: 100%;
    border: 1px solid #e3e3e3;
    text-align: left;
    background: #FFFFFF;
    height: 50px;
}

.btn-login {
    display: block;
    width: 100%
}

.btn-wide {
    width: 100%;
}

.btn-half {
    width: 32.5%;
}

.btn-primary {
    background: #ff9c44;
    border: #ff9c44;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.btn-create {
    background: #ff9c44;
    border: #ff9c44;
    color: white;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 15px;
    width: 96%;
}

.btn-create-trans {
    background: transparent;
    border: 5px #ff9c44;
    color: #ff9c44;
    height: 50px;
    margin: 5px;
    padding: 20px;
    width: auto;
}

.btn-info:hover {
    background: #24a7ea;
}

.btn-home {
    background: #ff9c44;
    border: #ff9c44;
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

.btn-info {
    padding: 5px;
    background: #1E8BC3;
    border: #1E8BC3;
}

.btn-primary:hover {
    background: #ffb951;
}

.btn-info:hover {
    background: #24a7ea;
}

/*-------------- FORMS: Inputs -------------------- */

form {
    margin-top: 10px;
    margin-bottom: 20px;

}

.form-titel {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #55595c;
}

.form-card {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.form-control-date {
    display: inline-block;
    width: 32%;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #55595c;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: .25rem;
    box-shadow: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
    box-shadow: none;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0
}

input {
    box-shadow: none;
}

/*
--------------------- Homepage section ------------------------------
*/

section {
    text-align: center;
    display: block;
}

.sectionincome {
    text-align: center;
    display: block;
    transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;;
    -moz-transition: all 3s ease-in-out;;
    -ms-transition: all 3s ease-in-out;;
    -o-transition: all 3s ease-in-out;;

}

.white-section {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25));
    background-size: 100%;
    width: 100%;
    padding: 100px;
}

.content {
    margin: 1em;
}

.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(8, 8, 8, 0.25)), url(../resources/header_img2.jpeg) no-repeat;
    background-size: 100%;
    overflow: hidden;
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.55);
    color: white;
    width: 100%;
    padding: 100px;
    margin: 0 auto;
}

.jumbotron h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
}

.jumbotron p {
    display: inline-block;
    padding: 10px;
    margin: 20px;
}

.jumbotron-info {
    font-size: 12px;
    font-weight: 300;
    padding: 0;
    margin: 0 auto;

}

.jumbotron-info a {
    color: white;
    font-weight: 900;
}

.border-radius {
    border-radius: 10px;
}

.roboto-bold {
    font-weight: 600 !important;
}

.no-bold{
    font-weight: normal !important;
}

.content {
    margin: 10px;
}

.block {
    display: block;
    padding: 5px;
}

/*
--------------------- Header elements ------------------------------
*/
.img-circle {
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
}

.page-header {
    width: 100%;
    height: auto;
    position: relative;
    padding: 30px;
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.55);
    background: linear-gradient(rgba(29, 46, 66, 0.6), rgba(29, 46, 66, 0.4)), url(../resources/photo.jpeg) no-repeat fixed 0 -60px;
    background-size: 100%;
    overflow: hidden;
    color: white !important;
    margin: 40px 0 0;
}

.page-header h3 {
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    text-align: center;
}

.page-header p {
    display: inline-block;
    padding: 10px;
    margin: 20px;
}

.page-header-search {
    width: 50%;
    margin: auto;
}

.page-header-img-preview {
    width: 100%;
    margin: 0 auto;
}

/* -------------------------------- PAGE CONTENT ------------------------------------ */

.main {
    width: 90%;
    padding: 30px;
    background-color: #f7f7f7;
}

.page-content {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/*
--------------------- Navigation bar ------------------------------
*/

#profile-picture {
    height: 150px;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    border: 3px solid #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(8, 8, 8, 0.50))
}

#org-logo {
    height: 150px;
    width: 150px;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    border: 3px solid #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(8, 8, 8, 0.50))
}

#profile-picturenav {
    max-width: 45px;
}

.user-picture-circle {
    height: 75px;
    width: 75px;
    margin: 2px auto;
    padding: 2px;
    border: 3px solid #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(8, 8, 8, 0.50))
}

.img-thumbnailnav {
    margin: 5px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-section {
    background-size: 100%;
    width: 100%;
    background: #E8E8E8;
    text-align: left;
}

.form-pad {
    padding: 20px;
}

.form-pad h3 {
    text-align: center;
}

.form-pad button {
    text-align: center;
    margin: 0 auto;
}

.form-padadd-org {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.7);
}

.form-padadd-org h3 {
    text-align: center;
}

.form-padadd-org button {
    text-align: center;
    margin: 0 auto;
    width: 100px;
}

.add-orgimg {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

article {
    display: block;
    margin: 0 auto;
    line-height: 1em;
    font-weight: 600;
    font-size: 1.2em;
}

.navbar {
    background: #1E8BC3; /*0f6bac?*/
    border-width: 0;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: #ff9c44; /*f49f11*/
    cursor: pointer;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: -1px;
}

.navbar-nav span {
    font-weight: 900;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin: auto;
    width: 80%;
}

.navbar-nav {
    float: left;
    margin: 0;
    padding: 0;
}

/*
--------------------- Footer ------------------------------
*/

footer {
    display: block;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 35px 0;
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
}

.footer-nav ul {
    float: right;
}

.footer-nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
}

/*
--------------------- Organisation User Lists ------------------------------
*/

.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

.c-controls > a {
    margin: 20px;
    float: left;
}

.c-list {
    padding: 0px;
    min-height: 44px;
}

.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}

.add-user > .form-control,
.add-org > .form-control {
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 1px;
    font-size: 1.3em;
    padding: 12px 12px;
    height: 44px;
    outline: none !important;
}

.add-user > .form-control:focus,
.add-org > .form-control:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none;
}


.add-user > .input-group-btn .btn,
.add-org > .input-group-btn .btn {
    border-radius: 0px;
    border-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    height: 44px;
}

/*
--------------------- Scrollbar ------------------------------
*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);

    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: #555;
}

.panel > .member-list > div > .list-group-item:first-of-type {
    border-width: 0;
}

.panel > .org-list > div > .list-group-item:first-of-type {
    border-width: 0;
}

.list-group-item {
    height: 100px;
}

.username {
    font-variant: small-caps;
    font-size: x-large;
}

.org-small {
    max-width: 250px;
}

.orclass {
    padding-top: 5px;
}

.navwidth > li > a {
    min-width: 150px;
    text-align: center;
}

/*
--------------------- Theme Overview ------------------------------
*/
.single-card {
    min-height: 40%;
}

.card-img-theme {
    max-width: 40%;
    height: 75px;
    float: left;
    margin-right: 10px;
}

.fontsize-card {
    font-size: 13px;
    padding-left: 2px;
    text-align: left;
}

.ul-show-cards {
    padding-left: 0;
    list-style-type: none;
}

.cards {

}



/*
--------------------- Add card popup ------------------------------
*/

.popup-main {
    width: 90%;
    background-color: #f7f7f7;
}

.noborder{
    border: none;
}

#close-popup{
    float: right;

}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 100px auto;
    }
}

.containerpopup {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 10;
}

.popup-header {
    margin: 0 1.5%;
}

.page-headercard {
    border-radius: 4px;
    width: 100%;
    height: auto;
    position: relative;
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.55);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../resources/photo.jpeg) no-repeat fixed 0 -150px;
    background-size: 100%;
    overflow: hidden;
    color: white !important;
    margin: 20px 0 0;
}

.page-headercard h4 {
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 45px;
    text-align: center;
}

.bottomfixes {
    padding-bottom: 0;
}

/*
--------------------- Theme Tags ------------------------------
*/

.tags .tag {
    border: 1px solid #DDD;
    display: inline-block;
    color: #1E8BC3;
    background: #FFF;
    -webkit-box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border-radius: 2px;
    margin: 0 3px 6px 0;
    padding: 5px 10px;
}

.tags .tag:hover {
    border-color: #ffb951;
}

/*
-------------------------- Session card ---------------------------
*/

.session-card {
    width: 125px;
    height: 180px;
    background: no-repeat;
    position: relative;
}

#cardimg {
    width: 125px;
    height: 180px;
}

.session-card-description {
    color: white !important;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.6));
    width: 100%;
    bottom: 0;
    position: absolute;
    margin-bottom: 0;
    padding-bottom: 15px;
    z-index: 9;
}

/*
--------------------------- Circle Sessions --------------------------
*/

.card-ingame-container {
    display: inline-block;
    background: rgb(255, 156, 68);
    color: white;
    padding: 0 10px;
    margin: 5px;
    float: left;
    height: 125px;
    min-width: 80px;
    max-width: 100px;
    position: relative;
    border: solid white 3px;
    -webkit-border-radius:8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.card-ingame-container-playing{
    position: absolute;
    z-index: 10;
    height: 75px;
    width: 50px;
    transition: 2s;
}

.card-ingame-img {
    position: relative;
    height: inherit;
}

.card-ingame-hover-description {
    display: none;
    background: rgba(255, 156, 68, 1);
    width: 150%;
    border: 2px solid #FFF;
    color: #EEE;
    background: #333 repeat-x 0 0;
    z-index: 5;
    padding: 14px 20px;
    margin-top: 10px;
    line-height: 16px;
}

.hover-description-container {
    position: absolute;
    z-index: 5;
}

#circlesvg {
    position: relative;
    min-height: 850px;
}

.dropdown-menu > li > a:hover {
    background-color: rgba(255, 156, 68, 0.6);
    color: #1E8BC3;
}

.overlay-circle {
    position: absolute;
    background: rgba(0,0,0,0);
    top:0;
    left:0;
}

.overlay-element {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    -webkit-border-radius:8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.users-ingame{
    margin-top: 50px;
    overflow: hidden;
}

.user-container-ingame{
    height: 100px;
}

.user-name-container{
    padding-top: 10px;
}

.user-name-ingame{
    text-shadow: white -1px 1px;
    font-size: large;
    font-weight: 500;
    margin-top: 10px;
}

.user-img-ingame{
    margin: 5px;
    float: left;
    width: 75px;
    height: 75px;
}

.playing-user{
    font-variant: small-caps;
    color: yellowgreen;
    font-weight: 400;
}

/*
------------------------- WINNER POP-UP -------------
*/

#winner-popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height:100%;
    width: 100%;
    visibility: hidden;
    z-index: 20;
}

#card-img-winner{
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#card-element-winner{
    margin: 20px;
}

.winner-popup-container {
    margin: 70px auto;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
    width: 50%;
    position: relative;
    top: 25%;
    transition: 4s ease-in;
}

.winner-text{
    color: white;
    position: relative;
    top: 25%;
}

.winner-text-container{
    min-height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(8, 8, 8, 0.25)), url(../resources/winner.jpg);
}

/*
------------------------- MATERIAL CHECKBOX SLIDER -------------
*/

.card-before-game-img{
    height: 50px;
}

.card-before-game{
    padding-top: 20px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/*
--------------------------------- ADD CARD -----------------------------
*/
.input-add-card {
    margin-bottom: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-primary-add-card {
    color: #fff;
    background: #ff9c44;
    border: #ff9c44;
    padding: 7px;
}

.btn-primary-add-card:hover {
    color: #fff;
    background: #ffb951;
}