
<nav class="navbar navbar-inverse " role="navigation">
    <div class="container">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">
                KAN<span>DOE</span></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-right navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a (click)="login()">LOGIN</a>
                </li>
                <li>
                    <a (click)="register()"> SIGN UP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="jumbotron container">
    <div class="row">
        <h1>
            Kandoe</h1>
        <p>Free <span class="roboto-bold">platform</span> for making <span class="roboto-bold">decisions</span>. <span
                class="roboto-bold">Easy</span> to use
            <br> You can <span class="roboto-bold">participate</span> with a lot of people</p>
    </div>
    <div class="row">
        <div class="row">
            <button type="button" class="btn btn-home "  (click)="login()">LOGIN</button>
            <p class="">Or</p>
            <button type="button" class="btn btn-home "  (click)="register()">SIGN UP</button>
            <a class="  btn btn-block btn-social btn-sm btn-facebook" (click)="facebook()">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
        </div>
        <div class="row">
            <span class="jumbotron-info">
                By signing up you agree to our <a href="#">terms & conditions</a>
            </span>

        </div>
    </div>
</section>

<section class="container login-section " >
    <div class="row">

        <form  id="login-form" class="col-lg-offset-4 col-lg-4 " method="post" role="form"
            style="display: none;">
            <div class="form-pad">
                <h3>Login</h3>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" [(ngModel)]="username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password"/>
                </div>
                <button type="button" class="btn btn-info" (click)="onSubmit()">LOGIN</button>
            </div>
        </form>

        <register id="register-form" style="display: none"></register>
    </div>
</section>

<section class="white-section container">
    <article class="content">
        <h3>Share your opinion</h3>
        <p>Simply pick a card and push it onto the circle. May the best idea win!</p>
        <div class="block">
            <svg width="200" height="200">
                <circle cx="100" cy="100" r="80" stroke="black" stroke-width="4" fill="#FFFFFF"/>
                <circle cx="100" cy="100" r="55" stroke="black" stroke-width="4" fill="#FFFFFF"/>
                <circle cx="100" cy="100" r="25" stroke="black" stroke-width="4" fill="#FFFFFF"/>
                <circle cx="100" cy="145" r="2" stroke="#ff9c44" stroke-width="2" fill="#ff9c44"/>
                <circle cx="100" cy="130" r="2" stroke="#ff9c44" stroke-width="2" fill="#ff9c44"/>
                <circle cx="100" cy="115" r="2" stroke="#ff9c44" stroke-width="2" fill="#ff9c44"/>
                <rect x="85" y="92" width="30" height="15" style="fill:#ff9c44;"/>
                <rect x="85" y="160" width="30" height="15" style="fill:#ff9c44;"/>
            </svg>
        </div>
        <button type="button" class="btn btn-info" (click)="login()">CREATE A NEW <span
                class="roboto-bold">KANDOE</span></button>

    </article>
</section>

