<!--navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse  navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">KAN<span>DOES</span></a></li>
                <li><a [routerLink]="['/Organisations']">ORGANISATIONS</a></li>
                <li><a [routerLink]="['/Themes']">THEMES</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <img class="img-responsivenav img-thumbnailnav" id="profile-picturenav"
                         [src]="getImageSrc(user.profilePicture)">
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{user.person.firstname}}<span class="caret"></span>
                    </a>
                    <ul class=" dropdown-menu pull-right">
                        <li><a [routerLink]="['/Userprofile']">Edit profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="glyphicon glyphicon-log-out" (click)="logout()"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--header -->
<header>
    <div class="container page-header">
        <h3>My Kandoes</h3>
    </div>
</header>

<div class="container main">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <!--breadcrumbs -->
            <ol class="breadcrumb">
                <li><a [routerLink]="['/LoggedInHome']"> Kandoes</a></li>
                <li class="active">Themes</li>
            </ol>
            <div class="searchable-container" id="sort-list">
                <div class="kandoe-session-card-container col-sm-12 col-md-4">
                    <div class="new-card add-kandoe-card kandoe-session-card center-container">
                        <div class="card-btn-container">
                            <button type="button" class="btn btn-primary" [routerLink]="['/AddSession']">
                                Create new kandoe
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngFor="#session of sessions; #i = index" class="kandoe-session-card-container col-sm-12 col-md-4">

                    <!--Cards theme object -->
                    <div class="kandoe-session-card">
                        <div class="kandoe-session-card-image">
                            <div *ngIf="session.subTheme==null">
                                <img [src]="getImageSrc(session.theme.iconURL)" class="img-responsive">
                                <div class="caption post-content">
                                    <h3 style="color:#f9f9f9">{{session.theme.themeName}}</h3>
                                </div>
                            </div>
                            <div *ngIf="session.theme==null">
                                <img [src]="getImageSrc(session.subTheme.iconURL)" class="img-responsive">
                                <div class="caption post-content">
                                    <h3 style="color:#f9f9f9">{{session.subTheme.subThemeName}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="kandoe-session-card-content">
                            <span class="kandoe-session-card-title">{{session.sessionName}}</span>
                            <button type="button" class="btn btn-custom pull-right show-btn" data-rel="1" aria-label="Left Align" (click)="showReveal(i)">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                        </div>
                        <!-- kandoe-session-card content -->
                        <div class="row nopadding-nomargin">
                            <div class="kandoe-session-card-action col-sm-12">
                                <div class="padding-left-5 col-sm-7"><label><span
                                        class="glyphicon glyphicon-time"></span> END <p class="no-bold">
                                    {{session.endTime}}</p></label></div>
                                <div class="padding-left-5 col-sm-3"><label>TYPE<p class="no-bold">
                                    {{session.type}}</p></label></div>
                                <div class="padding-left-5 col-sm-2">
                                    <button type="button" [routerLink]="['/SessionDetail', {id:session.sessionId}]"
                                            class="btn btn-custom pull-right"><span
                                            class="glyphicon glyphicon-chevron-right"></span></button>
                                </div>
                            </div><!-- kandoe-session-card actions -->
                        </div>
                        <div class="kandoe-session-card-reveal" [attr.id]="i">
                            <span class="kandoe-session-card-title"><h3>{{session.sessionName}}</h3></span> <button type="button" class="close" data-rel="1" data-dismiss="modal" aria-label="Close" (click)="closeReveal(i)"><span aria-hidden="true">×</span></button>
                            <h4>Cards</h4>
                            <ul>
                                <li *ngFor="#card of session.cards">{{card.description}}</li>
                            </ul>
                            <h4>Users</h4>
                            <ul>
                                <li *ngFor="#user of session.users">{{user.username}}</li>
                            </ul>
                        </div><!-- kandoe-session-card reveal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

