    <li class="col-sm-4">
        <div class="themeCard-container manual-flip">
            <div class="themeCard">
                <div class="front">
                    <div class="cover">
                        <a [routerLink]="['/ThemeDetail', {id:theme.themeId}]">
                            <img [src]="getImageSrc(theme.iconURL)"/>
                        </a>
                    </div>
                    <div class="themeContent">
                        <div class="mainContent">
                            <a [routerLink]="['/ThemeDetail', {id:theme.themeId}]">
                                <h3 class="name">{{theme.themeName}}</h3>
                                <p class="profession">{{theme.description}}</p>
                            </a>
                            <h5><i class="glyphicon glyphicon-bookmark"></i> tag1</h5>
                            <h5><i class="glyphicon glyphicon-bookmark"></i> tag2</h5>
                            <h5><i class="glyphicon glyphicon-bookmark"></i> tag3</h5>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" (click)="rotateCard()">
                                <i class="fa fa-mail-forward"></i> More Information
                            </button>
                        </div>
                    </div>
                </div> <!-- end front panel -->
                <div class="back">
                    <div class="header">
                        <h5 class="motto">{{theme.themeName}}</h5>
                    </div>
                    <div class="themeContent">
                        <div class="mainContent">
                            <h4 class="text-center">Organisation</h4>
                            <p>{{theme.organisation.organisationName}}</p>
                            <h4 class="text-center">Cards</h4>
                            <ul>
                                <li>Card 1</li>
                                <li>Card 2</li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-simple col-sm-3" (click)="rotateCard()" data-original-title="Flip Card">
                                    <i class="fa fa-reply"></i> Back
                                </button>
                                <div class="social social-links text-center col-sm-9">
                                    <ul class="list-inline">
                                        <li class="facebook col-sm-4" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                        <li class="twitter col-sm-4" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                        <li class="google-plus col-sm-4" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end back panel -->
            </div>
        </div>
    </li>