<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse  navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">KAN<span>DOES</span></a></li>
                <li><a [routerLink]="['/Organisations']">ORGANISATIONS</a></li>
                <li class="active"><a [routerLink]="['/Themes']">THEMES</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <img class="img-responsivenav img-thumbnailnav" id="profile-picturenav"
                         [src]="getImageSrc(user.profilePicture)">
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{user.person.firstname}}<span class="caret"></span>
                    </a>
                    <ul class=" dropdown-menu pull-right">
                        <li><a [routerLink]="['/Userprofile']">Edit profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="glyphicon glyphicon-log-out" (click)="logout()"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="container page-header" id="org-header">
        <h3>Themes</h3>
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <form class="form-search">
                <div class="input-group">
                    <input id="input-search" class="form-control border-radius" placeholder="Search organisations...">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default filter filter-ID filter-A" (click)="sortId()">
                            <span class="glyphicon glyphicon-sort-by-order"> ID</span></button>
                        <button type="button" class="btn btn-default filter filter-Name filter-A" (click)="sortName()">
                            <span class="glyphicon glyphicon-sort-by-alphabet"> Name</span></button>
                        <button type="button" class="btn btn-default filter filter-Desc filter-A" (click)="sortDesc()">
                            <span class="glyphicon glyphicon-sort-by-alphabet"> Description</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>
<div class="container main" id="org-list">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <ol class="breadcrumb">
                <li><a [routerLink]="['/LoggedInHome']"> Kandoes</a></li>
                <li class="active">Themes</li>
            </ol>
            <div class="searchable-container" id="sort-list">
                <ul>
                    <li class="col-xs-12 col-sm-4">
                        <div class="themeCard">
                            <div class="front new-card">
                                <div class="col-xs-offset-1 col-xs-10 card-btn-container center-container">
                                    <button [routerLink]="['/AddTheme']" class="btn btn-primary">
                                        Create a new Theme
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul *ngFor="#theme of themes; #i = index">
                    <li class="col-xs-12 col-sm-4">
                        <!--<a [routerLink]="['/ThemeDetail', {id:theme.themeId}]">-->
                        <div class="themeCard-container manual-flip">
                            <div class="themeCard">
                                <div class="front">
                                    <div class="cover">
                                        <a [routerLink]="['/ThemeDetail', {id:theme.themeId}]">
                                            <img [src]="getImageSrc(theme.iconURL)"/>
                                        </a>
                                    </div>
                                    <!--<div class="user">
                                        <img class="img-circle" src="../../resources/kandoe-logo-circle-white.png"/>
                                    </div>-->
                                    <div class="themeContent">
                                        <div class="mainContent">
                                            <a [routerLink]="['/ThemeDetail', {id:theme.themeId}]">
                                                <h3 class="name">{{theme.themeName}}</h3>
                                                <p class="profession">{{theme.description}}</p>
                                            </a>
                                            <h5><i class="glyphicon glyphicon-bookmark"></i> tag1</h5>
                                            <h5><i class="glyphicon glyphicon-bookmark"></i> tag2</h5>
                                            <h5><i class="glyphicon glyphicon-bookmark"></i> tag3</h5>
                                            <br>
                                            <h4>Organisation</h4>
                                            <p>{{theme.organisation.organisationName}}</p>
                                        </div>
                                        <div class="footer">
                                            <button class="btn btn-simple" (click)="rotateCard()">
                                                <i class="fa fa-mail-forward"></i> More Information
                                            </button>
                                        </div>
                                    </div>
                                </div> <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">{{theme.themeName}}</h5>
                                    </div>
                                    <div class="themeContent nopaddingleft">
                                        <div class="mainContent center-container">

                                            <div class="theme-cards-content">
                                                <h4>Cards</h4>
                                                <ul class="ul-show-cards" data-spy="scroll"
                                                    *ngFor="#card of theme.cards">
                                                    <div class="single-card">
                                                        <li>
                                                            <img class="card-img-theme" alt="no image found"
                                                                 [src]="getImageSrc(card.imageURL)">
                                                            {{card.description}}
                                                        </li>
                                                    </div>
                                                    <br>
                                                </ul>
                                            </div>
                                            <div>

                                                <a href="#popup-addCard">
                                                    <button
                                                            class=" btn btn-primary btn-wide theme-cards-btn" (click)="giveId(theme.themeId)">Add card
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <button class="btn btn-simple" (click)="rotateCard()"
                                                data-original-title="Flip Card">
                                            <i class="fa fa-reply"></i> Back
                                        </button>
                                        <div class="social-links text-center">
                                            <a href="#facebook" class="facebook"><span
                                                    class="fa fa-facebook"></span></a>
                                            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                                            <a href="#google-plus" class="google-plus"><span
                                                    class="fa fa-google-plus"></span></a>
                                        </div>
                                    </div>
                                </div> <!-- end back panel -->
                            </div>
                        </div>
                        <!--</a>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--Popup addCard -->

<div id="popup-addCard" class="overlay">
    <div class="popup">

        <header class="popup-header">
            <div class="container page-headercard">
                <h4>Add new card</h4>
            </div>
        </header>

        <div class="container main nopaddingleft bottomfixes">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                <div class="row">
                    <form method="post" role="form">

                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" placeholder="Enter card description" class="form-control"
                                   [(ngModel)]="card.description">
                        </div>

                        <div class="form-group">
                            <label>Logo</label>
                            <input type="file" multiple="false" (change)="onFileChange($event)">
                        </div>
                        <div class="row">
                            <div class="center-container ">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <div class="session-card">
                                        <img src="" id="cardimg"/>
                                        <p class="session-card-description">{{card.description}} <br/></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-offset-1 col-sm-11 nopadding-nomargin">
                                <button type="button" class="btn btn-lg btn-wide btn-primary" (click)="onSubmit($event)">Add
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</div>